@model IEnumerable<NgoProject.Models.Donate>

@{
    ViewData["Title"] = "Donate";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Donate</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonateMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonateMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.News.NewsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
        </tr>
}
    </tbody>
</table>
