@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IEnumerable<NgoProject.Models.Ourpartner>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "OurPartner";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.AntiForgeryToken()
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Our Partner</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        
                            <th>  Name</th>
                            <th>  Logo</th>
                            <th> About &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;</th>

                          
                            <th> Phone</th>
                            <th> AddressWeb</th>
                            <th>Mail</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {


                            <tr>
                       
                                <td>
                                    @Html.DisplayFor(modelItem => item.OurpartnerName)
                                </td>
                                <td>
                                    <img src="~/user/images/slide/@item.OurpartnerLogo" style="width:100px ; height:auto ; border-radius: 10%;">
                                </td>
                                <td style="white-space:pre-line">
                                            @Html.DisplayFor(modelItem => item.OurpartnerAddress)
                               
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OurpartnerPhone)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OurpartnerAddressWeb)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OurpartnerMail)

                                </td>
                                <td>
                             @*        <a asp-action="BannerEdit" asp-route-id="@item.OurpartnerId">Edit</a> *@
                                    <a class="btn btn-danger btn-icon-text" href="@Url.Action("DeleteOur","HomeAdmin", new {id = item.OurpartnerId})">Delete</a>


                                    <a class="btn btn-dark btn-icon-text" href="@Url.Action("OurPartnerEdit","HomeAdmin", new {id = item.OurpartnerId})">Edit</a>
                                </td>


                            </tr>
                        }
                      
                        

                    </tbody>
                </table>
            </div>
        </div>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Category", new { page = page }),
        new X.PagedList.Web.Common.PagedListRenderOptions
        {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
        })
    </div>
</div>
