@model IEnumerable<NgoProject.Models.User>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Users</h1>

        <div class="col-lg-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Phone</th>
                                    <th>Avatar</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                {
                                <tr>
                                <td>   @Html.DisplayFor(modelItem => item.UserName)</td>
                                <td>   @Html.DisplayFor(modelItem => item.UserEmail)</td>
                                <td>   @Html.DisplayFor(modelItem => item.UserPassword)</td>
                                <td>   @Html.DisplayFor(modelItem => item.UserPhone)</td>
                                    <td>
                                <img src="~/user/images/slide/@item.UserAvatar" style="width:100px ; height:auto ; border-radius: 10%;">
                                    </td>
                                <td>   @Html.DisplayFor(modelItem => item.UserAddress)</td>
                                  <td>
                                 @*    <a href="@Url.Action("DeleteOur","HomeAdmin", new {id = item.OurpartnerId})">Delete</a>


                                    <a href="@Url.Action("OurPartnerEdit","HomeAdmin", new {id = item.OurpartnerId})">Edit</a> *@

                                  </td>
                                </tr>
                              }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
</div>
