@model NgoProject.Models.Ourpartner

@{
    ViewData["Title"] = "DetailsOur";
    <link rel="stylesheet" href="~/user/cssour/cssour.css">
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="~/user/images/slide/@Model.OurpartnerLogo" style=" width:80%;border-radius: 10%;" />

                </div>
            </div>
            <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="section-heading">
                    <h6>Our Partner</h6>
                    <h4 class="mdf"> @Html.DisplayFor(model => model.OurpartnerName)</h4>
                </div>

                <p><a rel="nofollow" href="https://templatemo.com/tm-563-seo-dream" target="_parent"></a> @Html.DisplayFor(model => model.OurpartnerAddress)</p>

                <div class="row">
                    <div class="col-lg-4 col-sm-4">
                        <a href="tel:@Model.OurpartnerPhone">
                            <div class="about-item">
                                <img src="~/user/images/msm.jpg.jpg" style="width:20% ; height:auto" />
                                <h6>  @Html.DisplayFor(model => model.OurpartnerPhone)</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-4" >
                        <a href="@Model.OurpartnerAddressWeb">
                            <div class="about-item">
                                <img src="~/user/images/addressweb.jpg.jpg" style="width:20% ; height:auto" />
                                <h6>    @Html.DisplayFor(model => model.OurpartnerAddressWeb)</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <a href="mailto:@Model.OurpartnerMail">
                            <div class="about-item">
                                <img src="~/user/images/gmail.jpg.jpg" style="width:20% ; height:auto" />
                                <h6> @Html.DisplayFor(model => model.OurpartnerMail)</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="about-section section-padding">
    <div class="container">
        <div class="col-lg-12 col-12 mb-5">
            @*   <h2 style="text-align:center">Intimate Partner</h2> *@
        </div>
    </div>
</section>