@model NgoProject.Models.Ourpartner

@{
    ViewData["Title"] = "DetailsOur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="about-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 mb-5">
                <h2 style="text-align:center">Intimate Partner</h2>
            </div>
            <div class="col-lg-12 col-md-5 col-12">
                <img src="~/user/images/slide/@Model.OurpartnerLogo" style=" width:300px ; height:auto ; border-radius: 10%;
            </div>

            <div class="col-lg-12 col-md-6 col-12">
                <div class="custom-text-block">
                    <h2 class="mb-0"> @Html.DisplayFor(model => model.OurpartnerName)</h2>


                    <p> @Html.DisplayFor(model => model.OurpartnerAddress)</p>

                   

                    <ul class="social-icon mt-4">
                        <li class="social-icon-item">
                            <a href="#" class="">  @Html.DisplayFor(model => model.OurpartnerPhone)</a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="">   @Html.DisplayFor(model => model.OurpartnerAddressWeb)</a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-instagram"> @Html.DisplayFor(model => model.OurpartnerMail)</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>